.formbox {
  /*height: 840px;*/
}

.textarea {
  // height: 125px;
  resize: none;
  width: 100%;
  // border: 0;
}

.formtextstyle {
  border: 0;
  outline: none;
  // border: 1px solid #48cbe8;
  border-radius: 20px;
  font-family: 'robotoregular';
  padding: 13px 17px;
  width:300px;
  margin-bottom: 19px;
}
.formbuttons {
  display: flex;
}

.qtip-mystyle {
  color: white;
}

::-webkit-input-placeholder {color:#5d5a55}
:-ms-input-placeholder      {color:#5d5a55}

.formbutton {
  flex:1;
  color:white;
  width: 100%;
  height: 100%;
  line-height: 2.75rem;
  background-color: #5f8d53;// border-radius: 5px;
  border: transparent;
  transition: 0.3s;
  &:nth-of-type(1n+2) {
          border-left: 2px solid rgba(222, 227, 231, 0.502);
        }
  &:hover {
          background-color:#477d38;
        }
  &:active {
    border: 0;
  }
}


.form {
  @include column
  &__radioBox {
    display: flex;
    justify-content: center;
    // margin-bottom: 20px;
  }
  &__radio {
    position: relative;
    white-space: nowrap;
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    &:last-child {
      margin-right: 0;
    }
    &-label {
      font-family: 'robotobold';
      color: white;
      margin-bottom: 10px;

    }
  }

}



.form__radio-elem {
  position: absolute;
  top: 0;
  left: -9999px;
}

.form__radio-fake {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 50%;
  background: #fff;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #4e8839;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
  }
}

.form__radio-elem:checked {

  & + .form__radio-fake {

    &:after {
      width: 8px;
      height: 8px;
    }
  }
}

.form__radio-title {
  font-family: 'robotoregular';
  color: #fff;
  margin-bottom: 20px;
  &:hover {
    color: #4e8839;
  }
}

.form__radio_checkbox {
  margin-right: 0;
  transition: 1s;
  .form__radio-fake {
    border-radius: 0px;
  }

  .form__radio-elem {
    & + .form__radio-fake {

      &:after {
        border-radius: 0px;
        background: url("../img/check.svg") 50% no-repeat transparent;
        background-size: contain;
        width: 100%;
        height: 100%;
transition: 0.3s;

        // transform: scale(0.8)

      }
    }
  }

  .form__radio-elem:checked {
    & + .form__radio-fake {
      &:after {

        background-color: #4e8839;
      }
    }
  }
}