.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      font-family: 'robotoregular';
      color: white;
    }
}
