.top {
  background:url('../img/water.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 30px 50px
    }
    &__head {
      display: flex;
      justify-content: space-between;
    }
    &__arrowDown{
      position: absolute;
      bottom: 5%;
      text-align: center;
      left: 0;
      right: 0;
    }
    &__triangle {
      position: absolute;
      bottom: -0.8%;
      width: 100%;
    }
    &__user {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
        .user {
          position: relative;
        }
    }
}


.triangle {
      fill: #ebefe2;
  &_left{
    }

  &_right{
      // fill: #f4f5f0;
    @include for-size(desktop-up) {
        /* fill: #ebefe2; */
      }
    }
}

.about, .triangle_right{
      fill: #f4f5f0;
    @include for-size(desktop-up) {
        fill: #ebefe2;
      }
    }


