.top {
  background:url('../img/water.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 550px;
    &__container {
      min-height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px 30px 50px
    }
    &__head {
      display: flex;
      justify-content: space-between;
    }
    &__arrowDown{
   position: absolute;
    bottom: 5%;
    text-align: center;
    left: 0;
    right: 0;
    }
    &__triangle {
      position: absolute;
      bottom: -0.8%;
      width: 100%;
    }
    &__user {
        .user {
          position: relative;
        }
    }
}


.triangle {
  &_left{
      fill: #f4f5f0;
    }

  &_right{
      fill: #ebefe2;
    }
}


