footer.footerBig
  ul.footerBig__list
    li.footerBig__item Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    li.footerBig__item
      nav.nav.nav_footer
        ul.nav__list
          li.nav__item
            a.nav__link(href="myworks.html") Мои работы
          li.nav__item
            a.nav__link(href="aboutme.html") Обо мне
          li.nav__item
            a.nav__link(href="blog.html") Блог
          li.nav__item
            a.nav__link(href="login.html") Авторизация
      include ../common/_socials.pug
    li.footerBig__item
      .quote
        .quote__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
        .quote__author — Martin Golding


  .footerBig__copyright © Павел Адашкевич | Создано с любовью в LoftSchool | 2016