.aboutme
  section.aboutme__top
    include ../common/_top

  section.aboutme__info
    .aboutme__description
      .aboutme__title
        h1.title.title_big  Обо мне
          +icon('about_header')
      .aboutme__content
        .aboutme__myphoto
          img(src="../assets/img/avatarBig.jpg", alt="").aboutme__myphotoImg
        .aboutme__text
          h2.title.title_small Кто я
          .text
            p Я фотограф и разработчик из Барселоны. Мне 34 года и за это время я нашел то, что мне нравится делать и хорошо получается.
            p Web - это сфера, которая развивается очень стремительно. И чтобы идти в ногу со временем нужно постоянно изучать и внеднять новые технологии.
            p Этот сайт яркий тому пример, он демонстрирует современные подходы, технологии и возможности. Он включает в себя самые распространенные блоки, которые часто нужны на сайте. А если вам нужно что-то другое - вы всегда можете связаться со мной и обсудить это.

    .aboutme__skills
      .skills
        h2.title.title_small Чем я могу быть вам полезен
        .text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать несложные задачи на Backend. Но давайте по порядку.
        .skills__list
          .skills__item
            .technology Frontend
            .technology__list
              +graph(["HTML5", "CSS3", "JavaScript & jQuery"])
          .skills__item
            .technology Backend
            .technology__list
              +graph(["PHP", "mySQL", "Node.js & npm", "Mongo.db"])
          .skills__item
            .technology WorkFlow
            .technology__list
              +graph(["Git", "Gulp", "Bower"])

  section.aboutme__map
    #aboutme__map
    .aboutme__contacts
        .contacts
          h2.title.title_small Контакты
          ul.contacts__list
            li.contacts__item
              a.contacts__link.contacts-skype(href='skype:pavlin_bird_of_happyness')
                +icon('skype')
                .contacts__text pavlin_bird_of_happyness
            li.contacts__item
              a.contacts__link(href='mailto:apavlin@yandex.ru')
                +icon('envelope2')
                .contacts__text apavlin@yandex.ru
            li.contacts__item
              a.contacts__link.contacts-tel(href='tel://+34-675-371-987')
                +icon('phone2')
                .contacts__text +34675371987
            li.contacts__item
              a.contacts__link.contacts-skype(href='https://www.google.es/maps/place/Carrer+de+Bilbao,+81,+08005+Barcelona/@41.4036035,2.2014965,375m/data=!3m1!1e3!4m5!3m4!1s0x12a4a33f19e7ae89:0xeb76df15d18eca0b!8m2!3d41.4037403!4d2.2021188?hl=ru&hl=ru' target="blank")
                +icon('map_marker').contacts__icon
                .contacts__text Барселона, ул.Бильбао 81 2-1
    include ../common/_footerBig.pug
