.aboutme {

  &__info{
    display: flex;
    @include for-size(desktop-up) {
        flex-direction: column;
      }
  }
  &__description {
    height: 100%;
    width: 50%;
    display: flex;
    flex:1;
    background: #ebefe2;
    justify-content: space-between;
      @include for-size(big-desktop-up) {
        justify-content: flex-start;
        flex-direction: column;
      }
      @include for-size(desktop-up) {
        width: 100%;
      }
  }
  &__title{
    width: 50%;
    @include for-size(big-desktop-up) {
        width: 100%;
      }
    display: inline-block;
    text-align: center;
  }
  &__skills {
    width: 50%;

      @include for-size(desktop-up) {
        width: 100%;
      }
    display: block;

  }

  &__myphoto {
    margin-bottom: 30px;
    @include for-size(phone-only) {
      margin-bottom: 10px;
      // flex-order: 1;

    }
  }
  &__myphotoImg {
    border-radius: 3px;
  }
  &__text {

  }

  &__content {
    width: 50%;
    padding: 20px;
    color: #566358;
    @include for-size(big-desktop-up) {
        width: 100%;
        padding: 60px;
      }
    @include for-size(desktop-up) {
         padding: 10px 150px;
    }
    @include for-size(phone-only) {
      padding: 10px;

    }
  }
  &__map {
    position: relative;
    // height: 200vh;
  }

  &__contacts {
    position: absolute;

    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
    z-index: 20;
    @include for-size(phone-only) {
      top: 0%;
      left: 0;
      right: 0;
      transform: translate(0, 0);
    }
  }

}


#aboutme__map {
  width: 100%;
  height: 100vh;
  @include for-size(phone-only) {
    height: 200vh;
    }
}

.contacts {
  border-radius: 5px;
  padding: 40px;
  @include for-size(phone-only) {
    padding-top: 10px;
    }
  background: rgba(235,239,226, 0.89);
  display: flex;
  flex-direction: column;
  align-items: center;
    &__list{
    }
    &__item{
      padding-bottom: 25px;
        &:last-child {
        padding-bottom: 0;
      }
    }
    &__link{
      display: flex;
      &:hover {
          animation-name: swing;
          animation-duration: 0.7s;
      }

    }
    &__text{
      padding-left: 10px;
      color: #566358;

    }
    &__icon{
      display: flex;
      justify-content: center;
    }
    .icon {
      fill: #6c9c5a;
    }
}




.title {
    font-family: 'sansus_webissimoregular';
    text-align: center;
    position: relative;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-weight: normal;

      &:after {
        margin-top: 20px;
        position: absolute;
        display: block;
        content: '';
        left: 50%;
        transform: translate(-50%, 0);
        width: 7rem;
        height: 3px;
        background: #566358;
      }
  &_big {
      font-size: 4rem;
      color: #373e42;
      position: relative;
      // margin: 0 auto;
      padding-top: 50px;
        @include for-size(phone-only) {
         font-size: 2.5rem;
        }
    }
  &_small {
      margin: 0 auto;
      max-width: 25rem;
      font-size: 2.2rem;
      color: #373e42;
      position: relative;
      @include for-size(phone-only) {
        padding-top: 20px;
         font-size: 1.5rem;
        }
    }
  &_white {
      color: #fff;
      &:after {
        background: #fff;
      }
  }
  &_about{
    }
}



.skills {
    height: 100%;
    background: #f4f5f0;
    padding: 0 40px ;
    @include for-size(desktop-up) {
       text-align: center;
       padding: 40px 140px;
       @include for-size(phone-only) {
      padding: 10px;

    }
       .text {

       }
      }
  &__list {

  }
  &__item {
    margin-bottom: 30px;

  }

}

.text {
    font-family: 'robotoregular';
    text-align: justify;
    line-height: 24px;
    padding-bottom: 40px;
    text-indent: 40px;
  }

.technology {
  padding-bottom: 10px;
  font-family: 'robotomedium';
    font-size: 1.8rem;
    &__list {
    margin-left: -19px;
    @include for-size(desktop-up) {
         margin: 0 -80px;
    }
    @include for-size(phone-only) {
       margin: 0 1px;

    }
    }

  &__item{
    position: relative;
    display: inline-block;
    margin: 0 19px;
    @include for-size(desktop-up) {
         transform: scale(0.9);
         margin: 0 4px;
    }

  }
  &__name {
    font-family: 'robotomedium';
    font-size: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4e8839;
    text-align: center;
  }
  &__graph {
    fill: none;
    stroke-width: 20;
    position: relative;
    &_fill {

    }
  }
}




@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
