.works {
  &__contactMe{
    background: url('../img/stones.jpg') center center no-repeat;
    background-size: cover;
    @include column
    justify-content: space-between;
  }
  &__footer {
    width: 100%;
  }
  &__review {
      margin-bottom: 40px;
  }
  &__contactMeform {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }
  .triangle {
    &_left{
        fill: #f8f9f4;
      }
    &_right{
      fill: #f8f9f4;
    }
  }

  &__siteSlider{
    // height: 800px;
    width: 100%;
  }

  &__title {
    background: #f8f9f4;
  }

}





.siteSlider {
  background: #e1e4d7;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;

  height: 100%;


    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // flex-basis: 50%;
      // height: 100%;
      width: 100%;
      background: #ebefe1;
      padding: 50px 0;
      // flex:2;
    }
    &__main{
      width: 100%;
      // flex:2;
      // order: 1;
      // flex-basis: 50%;
      // height: 70%;
    }
    &__sliders {
      width: 100%;
      height: 30%;
      // flex-basis: 100%;
      // flex:1;
      // height: 200px;
      display: flex;
    }

    &__technologies {
      font-family: 'robotomedium';
      color: #4e8839;
      padding-bottom: 50px;
    }
    &__link {
      background:  #6c9c5a;
      padding: 15px 25px;
      border-radius: 50px;
      display: flex;
      transition: 0.5s;
      &:hover {
        background:  rgba(#6c9c5a, .7);
      }
    }
    &__text {
      padding-left: 10px;
    }


    &__sliderDown, &__sliderUp {
      position: relative;
    }
    &__filterDown {
      position: absolute;
      display: block;
      // height: 100%;
      // width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(#b0b7aa, .5);
      z-index: 2;
    }
    &__filterUp {
      position: absolute;
      display: block;
      // height: 100%;
      // width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(#93998d, .5);
      z-index: 2;
    }

    &__arrows{
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
}

.review {
  display: flex;
  justify-content: center;
  @include for-size(phone-only) {
    flex-direction: column;
    }
  &__item {
    max-width: 430px;
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    padding: 20px;
      font-family: 'robotoitalic';

  }
  &__img{
    width: 93px;
    height: 93px;
    margin-bottom: 20px ;

  }
  &__text {
margin-bottom: 20px ;
position: relative;
  }
  &__authorName {
font-family: 'robotobold_italic';
    color: #4e8839;
  }
  &__authorState {
  }
  &__quote {
    position: relative;
  }
}


.contactMeform {
  background: rgba(#dadbd6, 0.9);
  max-width: 500px;
  border-radius: 5px;
  overflow: hidden;
  &__container{
    padding: 20px 20px 0;
    @include column;
  }

}

