.welcome {
  height: 100%;
  width: 100%;
  background:url('../img/water.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  &__auth {
    align-self: flex-end;
    padding: 20px 80px;
  }
  &__window {
    align-self: center;
    // justify-content: center;
  }
  &__footer {

  }
}

.auth {

  &__link {
    padding: 12px 29px;
    border: 2px solid white;
    border-radius: 40px;
    display: block;
    height: 100%;
    width: 100%;
      &:hover {
        background-color: rgba(18,38,32,0.6);
      }
  }

}
.window {
  background-color: rgba(18,38,32,0.6);
  border-radius: 5px;
  overflow: hidden;
  &__container {
  padding: 40px 70px 0 70px;

  }
  &__socials {
    padding-bottom: 37px;
  }
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  &__photo{
    width: 143px;
    height: 143px;
    margin-bottom: 13px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__img{
    width: 143px;
    height: 143px;
  }
  &__name{
    font-family: 'robotoregular';
    font-size: 28px;
    margin-bottom: 8px;
  }
  &__descr{
    font-family: 'robotomedium';
    font-size: 16px;
    opacity:0.8;
    margin-bottom: 35px;
  }
}

.nav {
  &__list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__item {

    height: 100%;
    padding: 0 30px 20px 0;

  }
  &__link{
    font-family: 'robotomedium';
    font-size: 16px;
    text-align:center;
    color: white;
    text-align: center;
    text-decoration: none;
    &:hover{
      color:#4e8839;
    }
  }
}

  //- стилизация меню для страницы привествия/авторизации
  .nav_welcome {
    .nav {
    &__list{
      display: flex;
      flex-wrap: nowrap;

      // justify-content: center;
      width: 100%;
    }
    &__item {
      flex:1;
      background-color: #5f8d53;
      padding: 0 0;
        &:nth-of-type(1n+2) {
          border-left: 2px solid rgba(222, 227, 231, 0.502);
        }
        &:hover {
          background-color:#477d38;
        }
    }
    &__link{
      line-height: 2.75rem;
      display: block;
    width: 100%;
    height: 100%;
      &:hover {
        color: white;
      }
    }
  }
}


.social {
  &_gray {
  .icon {
    color: #8c9895;
    &:hover {
      color:#4e8839;
    }
  }
  }
}